 img {
    height: 3rem;
}


.header {
    justify-content: center;
    height: 10%;
    background-color: rgb(72, 101, 123);
    font-size: large;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    
}

span {
    display: flex;
    align-items: center;
}

h1 {
    padding-left: 1.2rem;
    font-size: 1.5rem;
}
