.home {
    width: 95%;
    margin: 1rem auto;
    /* background-color: rgb(24, 30, 35); */
}

.title {
    color:rgb(72, 101, 123);
}

@media(max-width: 450px) {
    .home {
        width: 70%;
    }
}

@media(max-width: 770px) {
    .home {
        width: 90%;
    }
}